@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 103vh;
}

/*       CONTACTENOS     */
/*Formulario*/
/* titulo de formulario */
h1#titulo {
  color: #219fdf;
  padding: 10px;
  text-align: center;
  font-size: 36px;
  width: auto;
  margin-top: 20px;
}

/*Contenedor del formulario*/
.contenedor {
  background-color: rgba(224, 224, 227, 0.88);
  margin: 7% 13% 10% 13%;
  border-radius: 25px;
  box-shadow: 20px -16px #117bb8;
}

/*Formulario configuración general*/
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  font-size: small;
}

/*Campos del formulario*/
.div-example {
  width: 70%;
}
.div-example input {
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgb(188, 199, 201);
  border: none;
  height: 30px;
  width: 100%;
  text-align: center;
}
.comentarios {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.terminos {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin: 15px;
}
.caja ul {
  list-style-type: none;
}
input:focus {
  background-color: aliceblue;
}

/*Botones*/
.boton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 5px 10px 10px 5px;
}
button {
  border: none;
  border-radius: 25px;
  color: aliceblue;
  background-color: #4783e9;
  padding: 3px 9px;
}
button:hover {
  border: solid;
  border-width: 1px;
  border-color: black;
  background-color: transparent;
  color: black;
  transition-duration: 0.7s;
}

/*Responsive del formulario*/
@media (min-width: 667px) {
  body {
    width: 100%;
    height: 180vh;
  }
}

/*carrito*/
/* Estilo básico para la tabla */
table {
    width: 100%;
    border: 1px solid #0d2d44;
}
  
/* Estilo para las celdas encabezado */
thead {
    background-color: #e2f1fc;
    padding:4px;
    font-size: 20px;
    color: black;
    font-family: "Work Sans", sans-serif;
}
  
/* Estilo para las celdas de datos */
td {
    border: 1px solid #87ccf2;
    padding: 6px; 
    font-family: "Merriweather", serif;
}
  
/* Estilo para el mosue */
  
tr:hover {
    background-color: #e2f1fc;
    cursor: pointer;
}

/* Estilo para el caption */

caption{
    font-family: "Work Sans", sans-serif;
    color: #0d2d44;
    text-align: center;
    padding: 2%;
    font-size: 36px;
}

input{
    padding: 4px; 
    padding-left: 32%;
    
}
.container-imagenes{
    display:flex;
	flex-wrap:wrap;
	gap: 20px;
    padding: 32px;
}
img{
    width:200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 10px -10px #4783e9;
    border: 1px solid #87ccf2;
}
h1{
    font-family: "Work Sans", sans-serif;
    color: #0d2d44;
    text-align: center;
    padding: 2%;
    font-size: 36px;

}
h3{
    font-family: "Work Sans", sans-serif;
    color: #0d2d44;
    font-size: 25px;
}
.containerimg{
    display: relative;
}

@media (min-width:360px) {
    table#productsListTable{
        width: 100%;
        height: auto;
    }
  }